#!/usr/bin/env bash

# Export Public & Private Variables
export CI_PROJECT_NAME="python-utils"
export CI_PROJECT_DIR="${PWD}"
export CI_PROJECT_WORKTREE="${PWD##*/}"
[[ -f "${CI_PROJECT_DIR}/.user.env" ]] || cat <<'EOF' > "${CI_PROJECT_DIR}/.user.env"
#!/usr/bin/env bash

export LOG_LEVEL="DEBUG"
export BUILD_CONFIG="$CI_PROJECT_DIR/build.cfg"
export BUILD_DIR="$CI_PROJECT_DIR/.cache/build"

EOF
[[ -f "${CI_PROJECT_DIR}/.user.env" ]] && source "${CI_PROJECT_DIR}/.user.env"
export CACHE_DIR="${CI_PROJECT_DIR}/.cache"

# Setup Project Dir

[[ -d "${HOME}/.venv.d/${CI_PROJECT_NAME}_${CI_PROJECT_WORKTREE}" ]] || {
  [[ -d "${HOME}/.venv.d" ]] || {
    echo "MISSING: ${HOME}/.venv.d" >&2
    return 1
  }
  install -dm0755 "${HOME}/.venv.d/${CI_PROJECT_NAME}_${CI_PROJECT_WORKTREE}"
}
[[ -h "${CI_PROJECT_DIR}/.venv" ]] || {
  ln -s "${HOME}/.venv.d/${CI_PROJECT_NAME}_${CI_PROJECT_WORKTREE}" "${CI_PROJECT_DIR}/.venv"
}

[[ -d "${HOME}/.cache/${CI_PROJECT_NAME}_${CI_PROJECT_WORKTREE}" ]] || {
  [[ -d "${HOME}/.cache" ]] || {
    echo "MISSING: ${HOME}/.cache" >&2
    return 1
  }
  install -dm0755 "${HOME}/.cache/${CI_PROJECT_NAME}_${CI_PROJECT_WORKTREE}"
}
[[ -h "${CI_PROJECT_DIR}/.cache" ]] || {
  ln -s "${HOME}/.cache/${CI_PROJECT_NAME}_${CI_PROJECT_WORKTREE}" "${CI_PROJECT_DIR}/.cache"
}

[[ -f "${CI_PROJECT_DIR}/.venv/bin/activate" ]] || {
  pyenv local || {
    echo "Local python version not set: run 'pyenv local <version>'" >&2
    return 1
  }
  pyenv exec python3 -m venv --clear --upgrade-deps --prompt "Dev" "${HOME}/.venv.d/${CI_PROJECT_NAME}_${CI_PROJECT_WORKTREE}"
}

# Install Bun
command -v bun || brew install oven-sh/bun/bun